@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: starJedi;
  src: url(/fonts/Starjedi.ttf);
}

body{
  margin:0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  }

  h1 {
font-family: starJedi;
color: #fae01f;
text-align: center;
letter-spacing: 1px;
  }

div{
  position:relative;
  box-sizing:border-box;
  padding: 20px;
}
.container{
  width:100%;
  min-height: 100vh;
  padding:0;
}

.container:after{
  content: '';
  clear: both;
  display: table;
}

.container>div{
  float: left;
  height: auto;
}

.spaceship-list{
  width: 100%;
  background-image: url("/img/200_s.gif");
  overflow: auto
}

.one-spaceship{
  width: 100%;
  background:  #d5d5d5;
}

.searchbar{
  position: relative;
}

#search-text,
#search-button {
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fae01f;
}

#search-text {
 width:150px;
 font-family: 'Roboto', sans-serif;
}

#search-button{
  background: #fae01f;
  font-family: starJedi;
}

#search-button:hover{
  cursor: pointer;
}

@media(min-width:1200px){
  .spaceship-list{
    width: 75%;
  }

  .one-spaceship{
    width: 25%;
  }

  .container>div{
    height: 100vh;
  }
  
  .searchbar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}


.spaceship-item:hover {
box-shadow: 0 0 7px;
background: #d0d0d0;
opacity: 1;

}

.spaceship-item:hover img {
  width: 200px;
  
  }

.spaceship-item {
  opacity: 0.5;
  margin: 10px;
  box-shadow: 0 0 3px;
  background: #c0c0c0;
  font-family: starJedi;
}

.spaceship-item img {
  width: 50px;
  border: solid 5px #fae01f;
}

.data-div {
  display: inline-block;
}

.data-div p, .search-data p{
  margin: 0;
}

.stats-div {
  background: #000;
}

.stats-div span{
  color: #fae01f;
  display: block;
}